Alejandro Colomar <alx@kernel.org> <alx@nginx.com>
Alejandro Colomar <alx@kernel.org> <a.colomar@f5.com>
Alejandro Colomar <alx@kernel.org> <alx.manpages@gmail.com>
Andrew Clayton <a.clayton@nginx.com> <andrew@digital-domain.net>
Andrew Clayton <a.clayton@nginx.com> <a.clayton@f5.com>
Danielle De Leo <d.deleo@f5.com> <danielle@fastmail.net>
