Alejandro Colomar <alx@nginx.com> <a.colomar@f5.com>
Alejandro Colomar <alx@nginx.com> <alx.manpages@gmail.com>
Andrew Clayton <a.clayton@nginx.com> <andrew@digital-domain.net>
Andrew Clayton <a.clayton@nginx.com> <a.clayton@f5.com>
