Source: unit
Section: admin
Priority: extra
Maintainer: Andrei Belov <defan@nginx.com>
Build-Depends: debhelper (>= 9),
               linux-libc-dev,
               libssl-dev
Standards-Version: 3.9.5
Homepage: https://unit.nginx.org

Package: unit
Section: admin
Architecture: any
Depends: lsb-base,
         ${misc:Depends}, ${shlibs:Depends}
Description: NGINX Unit
 NGINX Unit is a runtime and delivery environment for modern distributed
 applications. It runs the application code in multiple languages
 (PHP, Python, Go, etc.), and tightly couples it with traffic delivery
 in and out of the application. Take this application server and proxy
 directly in the cloud / container environments and fully control your app
 dynamically via an API.

Package: unit-dbg
Section: debug
Architecture: any
Priority: extra
Depends: unit (= ${binary:Version}),
         ${misc:Depends}
Description: NGINX Unit (debug symbols)
 This package contains the debugging symbols for NGINX Unit.
