[Unit]
Description=NGINX Unit
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
PIDFile=/run/unit.pid
EnvironmentFile=-/etc/sysconfig/unit
ExecStart=/usr/sbin/unitd $UNITD_OPTIONS
ExecReload=

[Install]
WantedBy=multi-user.target
