{
	"applications": {
		"example_php": {
			"type": "php",
			"user": "nobody",
			"processes": 2,
			"root": "/usr/share/doc/unit-php/examples/phpinfo-app",
			"index": "index.php"
		},

		"example_python": {
			"type": "python",
			"user": "nobody",
			"processes": 2,
			"path": "/usr/share/doc/unit-python/examples/python-app",
			"module": "wsgi"
		},

		"example_go": {
			"type": "go",
			"user": "nobody",
			"executable": "/tmp/go-app"
		},

		"example_perl": {
			"type": "perl",
			"user": "nobody",
			"processes": 1,
			"working_directory": "/usr/share/doc/unit-perl/examples/perl-app",
			"script": "/usr/share/doc/unit-perl/examples/perl-app/index.pl"
		}
	},

	"listeners": {
		"*:8300": {
			"application": "example_php"
		},

		"*:8400": {
			"application": "example_python"
		},

		"*:8500": {
			"application": "example_go"
		},

		"*:8600": {
			"application": "example_perl"
		}
	}
}
