[Unit]
Description=NGINX Unit
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/unit
ExecStart=/usr/sbin/unitd $UNITD_OPTIONS --no-daemon
ExecReload=

[Install]
WantedBy=multi-user.target
